/tmp/

# Compiled assets
/public/assets/main*.js
/public/assets/main*.hot-update.json
/assets/webpack-assets.json

# Raw data
/data/sites.json
/data/db_seed.sql

# RSpec
/spec/examples.txt

# npm
/node_modules
