html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
}

.item__bifold-left {
  margin: 0 1rem;
}

.app {
  height: 100vh;
  width: 100vw;
}

.container__bifold {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.item__bifold-left {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.item__bifold-right {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

span.combobox__period {
  display: inline-block;
  width: 10rem;
}

.search-list {
  padding-left: 1.5rem;
}

.search-unit::marker {
  font-family: monospace;
}

.search-unit__combobox-label {
  display: none;
}

.search-unit__combobox {
  display: flex;
}

.search-unit__combobox > input {
  min-width: 0;
  width: 100%;
}

.search-unit__close-button {
  background-color: #fff;
  border: 0;
}

.search-unit__close-button--hidden {
  display: none;
}

.search-unit__close-button > .anticon {
  transition: opacity 0.2s ease;
  opacity: 30%;
}

.search-unit__close-button:hover > .anticon, .search-unit__close-button:focus > .anticon {
  opacity: 100%;
}

.search-unit__details {
  max-height: 2rem;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.search-unit__details--hidden {
  max-height: 0;
}

ul.search-results {
  list-style: none;
  padding: 0;
}

li.search-result.highlight {
  background-color: #bde4ff;
}

.search-result__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-result__country {
  float: right;
  white-space: nowrap;
  font-size: 0.8rem;
  font-style: italic;
  color: #999;
}

.date-picker__country {
  float: right;
  font-size: 0.8rem;
  font-style: italic;
  color: #999;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato-black.woff2') format('woff2'),
       url('/assets/fonts/lato-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@keyframes float {
  0% {
    transform: translatey(-50%);
    filter: drop-shadow(0 0.25rem 0.125rem hsla(0, 0%, 0%, 0.4));
  }
  50% {
    transform: translatey(-75%);
    filter: drop-shadow(0 0.75rem 0.125rem hsla(0, 0%, 0%, 0.4));
  }
  100% {
    transform: translatey(-50%);
    filter: drop-shadow(0 0.25rem 0.125rem hsla(0, 0%, 0%, 0.4));
  }
}

svg.map-pin {
  overflow: visible !important;
  height: 2rem;
  width: 2rem;
  position: relative;
  transform: translatey(-50%);
  font-family: Lato;
  font-weight: 900;
  filter: drop-shadow(0 0.25rem 0.125rem hsla(0, 0%, 0%, 0.4));
}

svg.map-pin > path:first-of-type {
  fill: hsl(0, 89%, 59%);
  stroke: #fff;
  stroke-width: 8px;
}

svg.map-pin > path:nth-of-type(2),
svg.map-pin > text {
  fill: #fff;
  font-size: 72px;
  stroke: hsl(0, 66%, 32%);
  stroke-width: 1px;
  text-anchor: middle;
  dominant-baseline: middle;
}

svg.map-pin--highlighted {
  animation: float 1s ease-in-out infinite;
}

.map-pin__label {
  position: absolute;
  bottom: 50%;
  left: 106.25%;
  width: max-content;
  max-width: 16rem;
  color: #000;
}

.map-pin__label > * {
  /* simulate text-stroke */
  text-shadow: -1px -1px #fff, -1px 0px #fff, -1px 1px #fff, 0px -1px #fff, 0px 1px #fff, 1px -1px #fff, 1px 0px #fff, 1px 1px #fff;
}

.map-pin__label-name {
  font-weight: bold;
  font-size: 1.125rem;
}

.map-pin__label-country {
  line-height: 0.75rem;
}

.mapboxgl-marker--highlighted {
  z-index: 10;
}
