@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato-black.woff2') format('woff2'),
       url('/assets/fonts/lato-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* SEARCH PANEL ============================================================= */

#search-panel {
  @apply absolute z-10 mx-4 bg-white shadow-md rounded-b-lg w-1/4;
  min-width: 15rem;
  max-width: 35rem;
}

/* Slanty header ------------------------------------------------------------ */

.search-panel__header {
  @apply relative p-4 mb-8;
  background: linear-gradient(2deg, hsl(240, 86%, 25%) 0%, hsl(240, 86%, 25%) 40%, hsl(276, 51%, 40%) 100%);
}

.search-panel__header::after {
  content: "";

  @apply absolute inset-x-0 bottom-0 border-solid border-transparent;
  border-width: 0.875rem 17.5rem; /* (search panel max-width / 40) (search panel max-width / 2) */
  border-bottom-color: #fff;
  border-right-color: #fff;
}

@media screen and (max-width: 140rem) { /* (search panel max-width * 4) */
  .search-panel__header::after {
    border-width: 0.5vw 12.5vw; /* (search panel width / 40) (search panel width / 2) */
  }
}

@media screen and (max-width: 60rem) { /* (search panel min-width * 4) */
  .search-panel__header::after {
    border-width: 0.3rem 7.5rem; /* (search panel min-width / 40) (search panel min-width / 2) */
  }
}

.search-panel__header > h1 {
  @apply relative mb-0 text-white text-5xl text-right;

  top: 0.5rem;
  transform: rotate(-2.29deg);
  font-family: Lato;

  /* simulate text-glow */
  text-shadow: -1px -1px 3px hsla(48, 100%, 50%, 0.2),
               -1px  0px 3px hsla(48, 100%, 50%, 0.2),
               -1px  1px 3px hsla(48, 100%, 50%, 0.2),
                0px -1px 3px hsla(48, 100%, 50%, 0.2),
                0px  1px 3px hsla(48, 100%, 50%, 0.2),
                1px -1px 3px hsla(48, 100%, 50%, 0.2),
                1px  0px 3px hsla(48, 100%, 50%, 0.2),
                1px  1px 3px hsla(48, 100%, 50%, 0.2);
}

/* Delete button ------------------------------------------------------------ */

/* extra specificity overrides .anticon default vertical-align */
.anticon.anticon-delete {
  @apply align-baseline opacity-25 transition-opacity duration-200;
}

button:hover > .anticon.anticon-delete,
button:focus > .anticon.anticon-delete {
  @apply opacity-100;
}

/* Collapsing details ------------------------------------------------------- */

.search-unit__details {
  max-height: 2rem;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.search-unit__details--hidden {
  max-height: 0;
}

/* MAP ====================================================================== */

/* SVG pins ----------------------------------------------------------------- */

@keyframes float {
  0% {
    transform: translatey(-50%);
    filter: drop-shadow(0 0.25rem 0.125rem hsla(0, 0%, 0%, 0.4));
  }
  50% {
    transform: translatey(-75%);
    filter: drop-shadow(0 0.75rem 0.125rem hsla(0, 0%, 0%, 0.4));
  }
  100% {
    transform: translatey(-50%);
    filter: drop-shadow(0 0.25rem 0.125rem hsla(0, 0%, 0%, 0.4));
  }
}

svg.map-pin {
  overflow: visible !important;
  height: 2rem;
  width: 2rem;
  position: relative;
  transform: translatey(-50%);
  font-family: Lato;
  font-weight: 900;
  filter: drop-shadow(0 0.25rem 0.125rem hsla(0, 0%, 0%, 0.4));
}

svg.map-pin > path:first-of-type {
  fill: hsl(0, 89%, 59%);
  stroke: #fff;
  stroke-width: 8px;
}

svg.map-pin > path:nth-of-type(2),
svg.map-pin > text {
  fill: #fff;
  font-size: 72px;
  stroke: hsl(0, 66%, 32%);
  stroke-width: 1px;
  text-anchor: middle;
  dominant-baseline: middle;
}

svg.map-pin--highlighted {
  animation: float 1s ease-in-out infinite;
}

/* Pin labels --------------------------------------------------------------- */

.map-pin__label {
  @apply absolute text-black;
  bottom: 50%;
  left: 106.25%;
  width: max-content;
  max-width: 16rem;
}

.map-pin__label > * {
  /* simulate text-stroke */
  text-shadow: -1px -1px #fff,
               -1px  0px #fff,
               -1px  1px #fff,
                0px -1px #fff,
                0px  1px #fff,
                1px -1px #fff,
                1px  0px #fff,
                1px  1px #fff;
}
